@charset "utf-8";

@import "/client/component/mixin.scss";


html {
  font-size: $root-size;
  @media screen and (max-width: 580px) {
    font-size: $root-size * 0.7;
  }
}

body {
  margin: 0u;
  padding: 0u;
  font-family: $european-font-family, $japanese-font-family, serif;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: white;
  overflow-x: auto;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}