@charset "utf-8";

@import "/client/component/function.scss";


$text-color: hsl(275, 50%, 20%);
$accent-color: hsl(275, 60%, 60%);
$accent-first-color: hsl(275, 65%, 60%);
$caution-text-color: hsl(0, 50%, 50%);
$background-color: hsl(275, 50%, 95%);
$link-background-color: hsl(300, 50%, 85%);
$caution-background-color: hsl(0, 60%, 95%);
$pane-dark-shadow-color: hsla(275, 60%, 70%, 0.3);
$pane-light-shadow-color: hsla(275, 60%, 100%, 0.8);
$caution-pane-dark-shadow-color: hsla(0, 60%, 70%, 0.3);
$caution-pane-light-shadow-color: hsla(0, 60%, 100%, 0.8);

$light-theme: (
  text-color: $text-color,
  dimmed-text-color: rgba($text-color, 0.5),
  accent-color: $accent-color,
  dimmed-accent-color: rgba($accent-color, 0.5),
  accent-first-start-color: adjust-hue($accent-first-color, 0),
  accent-first-end-color: rgba(adjust-hue($accent-first-color, 0), 0),
  accent-second-start-color: adjust-hue($accent-first-color, 0),
  accent-second-end-color: rgba(adjust-hue($accent-first-color, 0), 0),
  accent-third-start-color: adjust-hue($accent-first-color, 45),
  accent-third-end-color: rgba(adjust-hue($accent-first-color, 45), 0),
  accent-fourth-start-color: adjust-hue($accent-first-color, -45),
  accent-fourth-end-color: rgba(adjust-hue($accent-first-color, -45), 0),
  caution-text-color: $caution-text-color,
  border-color: rgba($accent-color, 0.2),
  background-color: $background-color,
  dimmed-background-color: rgba($background-color, 0.5),
  link-background-color: $link-background-color,
  caution-background-color: $caution-background-color,
  pane-dark-shadow-color: $pane-dark-shadow-color,
  pane-light-shadow-color: $pane-light-shadow-color,
  caution-pane-dark-shadow-color: $caution-pane-dark-shadow-color,
  caution-pane-light-shadow-color: $caution-pane-light-shadow-color
);