@charset "utf-8";

@import "/client/component/mixin.scss";


.head {
  margin-top: 64u;
  margin-bottom: 32u;
  font-size: 150%;
  font-weight: bold;
  color: var(--accent-color);
}

.paragraph {
  @include line-height;
  margin-top: 32u;
  margin-bottom: 32u;
  text-align: justify;
}