@charset "utf-8";

@import "/client/component/mixin.scss";


.pane {
  padding: 64u;
}

.form-list {
  margin-bottom: 96u;
}

.form {
  @include reset-first-margin(top);
  margin: 64u auto 0u auto;
  max-width: $page-width * 0.6;
}

.head {
  margin-bottom: 48u;
  font-size: 150%;
  font-weight: bold;
  color: var(--accent-color);
}

.caution {
  margin-bottom: 48u;
  line-height: $line-height;
  text-align: justify;
}