@charset "utf-8";

@import "/client/component/mixin.scss";


.spacer {
  padding: 64u 96u;
}

.head {
  @include reset-first-margin;
  margin-top: 48u;
  font-size: 120%;
  font-weight: bold;
  color: var(--accent-color);
}

.explanation {
  @include line-height;
  margin-top: 24u;
  font-size: 90%;
  text-align: justify;
}

.category-caution {
  @include line-height;
  margin-top: 24u;
  font-size: 90%;
  color: var(--caution-text-color);
  text-align: justify;
}

.checkbox {
  margin-top: 24u;
}

.form {
  margin-top: 24u;
  display: flex;
  flex-direction: row;
  justify-content: justify;
}

.form >*:nth-child(1) {
  flex: 2 0 0u;
  @include smartphone {
    flex: 3 0 0u;
  }
}

.form >*:nth-child(2) {
  margin-left: 48u;
  flex: 5 0 0u;
}

.button {
  margin-top: 48u;
}

.caution {
  @include line-height;
  margin-top: 48u;
  font-size: 90%;
  color: var(--caution-text-color);
  text-align: justify;
}

.error {
  margin-bottom: 48u;
}