@charset "utf-8";

@import "/client/component/mixin.scss";


.item {
  padding: 48u 96u;
  border-top: 3u var(--border-color) solid;
  :first-child >& {
    border: none;
  }
}

.code-container {
  @include special-font;
  margin-bottom: 16u;
  font-size: 120%;
  color: var(--accent-color);
}

.code-container >a {
  color: var(--accent-color);
}

.name-container {
  line-height: $line-height;
  text-align: justify;
}

.slash {
  margin: 0em 0.2em;
  font-size: 80%;
  color: var(--dimmed-accent-color);
  &::before {
    content: "-";
  }
}

.arrow {
  margin: 0em 0.2em;
  font-size: 100%;
  color: var(--dimmed-text-color);
  &::before {
    content: "«";
  }
}