@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  line-height: $line-height;
}

.row {
  padding: 16u 0u;
  border-bottom: 3u var(--border-color) solid;
  &:first-child {
    border-top: 3u var(--border-color) solid;
  }
}

.code-cell {
  @include special-font;
  margin-bottom: 8u;
  font-size: 120%;
  color: var(--accent-color);
}

.code-cell >a {
  color: var(--accent-color);
  text-decoration: none;
}

.slash {
  margin: 0em 0.2em;
  font-size: 80%;
  color: var(--dimmed-accent-color);
  &::before {
    content: "-";
  }
}

.arrow {
  margin: 0em 0.2em;
  font-size: 100%;
  color: var(--dimmed-text-color);
  &::before {
    content: "«";
  }
}