@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 48u 96u;
  border-top: 3u var(--border-color) solid;
  box-shadow: -8u -8u 12u transparent inset, 8u 8u 12u transparent inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: box-shadow $transition-setting, border-top $transition-setting;
  &:first-child {
    border: none;
  }
}

.root.link:hover {
  border-top: 3u transparent solid;
  box-shadow: -8u -8u 12u var(--pane-light-shadow-color) inset, 8u 8u 12u var(--pane-dark-shadow-color) inset;
  &:first-child {
    border: none;
  }
  & +.root {
    border-top: 3u transparent solid;
  }
}

.item-inner {
  flex-grow: 1;
}

.code-container {
  @include special-font;
  margin-bottom: 32u;
  font-size: 120%;
  color: var(--accent-color);
}

.name-container {
  @include line-height;
  text-align: justify;
}

.evidence {
  @include line-height;
  margin-top: 32u;
  font-size: 90%;
  text-align: justify;
  white-space: pre;
}

.slash {
  margin: 0em 0.15em;
  font-size: 80%;
  color: var(--dimmed-accent-color);
  position: relative;
  bottom: 0.1em;
  &::before {
    content: "_";
  }
}

.arrow {
  font-size: 100%;
  color: var(--dimmed-text-color);
  &::before {
    content: " « ";
  }
}

.button {
  margin-top: 32u;
}

.button >* {
  @include reset-first-margin;
  margin-left: 48u;
}