@charset "utf-8";

@import "/client/component/mixin.scss";


$smartphone-scale-ratio: 0.7;

.head {
  margin-bottom: 96u;
  display: flex;
  flex-direction: row;
}

.left {
  width: 700u;
  height: 700u;
  top: -120u;
  left: -120u;
  margin-bottom: -120u;
  margin-right: -120u;
  padding-top: 120u;
  padding-left: 120u;
  border-radius: 50%;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  @include smartphone {
    width: 700u * $smartphone-scale-ratio;
    height: 700u * $smartphone-scale-ratio;
    top: -120u * $smartphone-scale-ratio;
    left: -120u * $smartphone-scale-ratio;
    margin-bottom: -120u * $smartphone-scale-ratio;
    margin-right: -120u * $smartphone-scale-ratio;  
    padding-top: 120u * $smartphone-scale-ratio;
    padding-left: 120u * $smartphone-scale-ratio;
  }
}

.left-inner {
  width: 100%;
  height: 100%;
  padding-right: 60u;
  padding-top: 0u;
  background: four-gradient(90deg, var(--accent-first-start-color), var(--accent-first-end-color), var(--accent-second-start-color), var(--accent-second-end-color), var(--accent-third-start-color), var(--accent-third-end-color), var(--accent-fourth-start-color), var(--accent-fourth-end-color));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include smartphone {
    padding-right: 60u * $smartphone-scale-ratio;
  }
}

.main-code {
  @include special-font;
  font-size: 400%;
  text-align: center;
  color: var(--background-color);
  @include smartphone {
    font-size: 400% * $smartphone-scale-ratio;
  }
}

.mark {
  @include icon-font;
  font-size: 150%;
  color: var(--background-color);
  position: absolute;
  top: 64u;
  left: 64u;
  &::before {
    content: "\F005";
  }
  @include smartphone {
    font-size: 150% * $smartphone-scale-ratio;
    top: 64u * $smartphone-scale-ratio;
    left: 64u * $smartphone-scale-ratio;
  }
}

.right {
  margin-top: 64u;
  margin-left: 80u;
  margin-right: 96u;
  flex-grow: 1;
  @include smartphone {
    margin-top: 32u;
  }
}

.right-top {
  height: 150u;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-bottom {
  margin-top: 64u;
  @include smartphone {
    margin-top: 32u;
  }
}

.rest-code {
  @include special-font;
  font-size: 300%;
  color: var(--accent-color);
  flex-grow: 0;
  @include smartphone {
    font-size: 300% * $smartphone-scale-ratio;
  }
}

.slash {
  margin: 0em 0.15em;
  font-size: 80%;
  color: var(--dimmed-accent-color);
  position: relative;
  bottom: 0.1em;
  &::before {
    content: "_";
  }
  &:first-child {
    margin-left: 0em;
  }
}

.separator {
  margin-left: 48u;
  margin-right: 32u;
  border-top: 12u var(--dimmed-accent-color) dotted;
  flex-grow: 1;
  &:first-child {
    margin-left: 0u;
  }
  @include smartphone {
    margin-right: 0u;
  }
}

.kind {
  font-size: 150%;
  font-weight: bold;
  color: var(--accent-color);
  flex-grow: 0;
  @include smartphone {
    display: none;
  }
}

.main-name {
  @include line-height;
  font-size: 200%;
  font-weight: bold;
  color: var(--accent-color);
  text-align: justify;
  @include smartphone {
    font-size: 150%;
  }
}

.rest-name {
  @include line-height;
  margin-top: 32u;
  font-size: 130%;
  font-weight: bold;
  color: var(--accent-color);
  text-align: justify;
  @include smartphone {
    font-size: 100%;
  }
}

.arrow {
  font-size: 100%;
  color: var(--dimmed-accent-color);
  &::before {
    content: " « ";
  }
}

.message {
  @include line-height;
  padding: 0u 96u 64u 96u;
}