@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 24u 24u;
  color: var(--caution-text-color);
  text-align: justify;
  background-color: var(--caution-background-color);
  border-radius: 24u;
  box-shadow: -8u -8u 12u var(--caution-pane-light-shadow-color), 8u 8u 12u var(--caution-pane-dark-shadow-color);
}