@charset "utf-8";

@import "/client/component/mixin.scss";


.spacer {
  padding: 48u 96u;
}

.form >* {
  margin-top: 24u;
}

.explanation {
  @include line-height;
  margin-bottom: 16u;
  font-size: 90%;
  text-align: justify;
}

.error {
  margin-bottom: 48u;
}