@charset "utf-8";

@import "/client/component/mixin.scss";


.spacer {
  padding: 64u 96u;
}

.form >* {
  @include reset-first-margin;
  margin-top: 24u;
}

.button {
  margin-top: 48u;
}

.explanation {
  @include line-height;
  margin-bottom: 48u;
  font-size: 90%;
  text-align: justify;
}

.caution {
  @include line-height;
  margin-top: 48u;
  font-size: 90%;
  color: var(--caution-text-color);
  text-align: justify;
}

.error {
  margin-bottom: 48u;
}